<script id="tmpl-success" type="text/x-jquery-tmpl">
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> ${message}
    </div>
</script>
<script id="tmpl-info" type="text/x-jquery-tmpl">
    <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Info!</strong> ${message}
    </div>
</script>
<script id="tmpl-warning" type="text/x-jquery-tmpl">
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Warning!</strong> ${message}
    </div>
</script>
<script id="tmpl-danger" type="text/x-jquery-tmpl">
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Danger!</strong> ${message}
    </div>
</script>