@model List<Todoku.Models.MenuInUserRole>

<ul class="nav nav-sidebar">
@foreach (var item in Model)
{ 
    <li class="@Html.IsActive(item.menu.Action, item.menu.Controller, "active")">
        @Html.ActionLink(item.menu.MenuName, item.menu.Action, item.menu.Controller, new { area = item.menu.scmenuarea.StandardCodeName }, null)
        @Html.CreateHtmlView(item.menu.Action, item.menu.Controller, "<span class=\"sr-only\">(current)</span>")
    </li>   
}
</ul>
@*<ul class="nav nav-sidebar">
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>*@