body
{
    font-size: .85em;
    /*font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;*/
    font-family: "Trebuchet MS", tahoma, sans-serif;
    font-weight:100;
    color: #232323;
    background-color: #fff;
    margin:0px;
    padding:0px;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*body
{
    width:100%;
    height:1000px;
    margin:0px;
    padding:0px;
    background-color: #FFFFFF;
}*/
#WebsiteHeader
{
    position:fixed;
    width:100%;
    height:50px;
    top:0px;
    z-index:1;
    background-color:#F4F4F4;
    border-left:1px solid #D9D9D9;
    border-right:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9;
    }
#WebsiteBody
{
    position:absolute;
    width:100%;
    background-color:#FFFFFF;
    top:4.4em;
    }
#MainPanel
{
    width:80%;
    background-color:#FFFFFF;
    float:left;
    margin:0px;
    padding:0px;
    }
#LeftPanel
{
    width:10%;
    height:100%;
    background-color:#FFFFFF;
    border:1px solid #FFFFFF;
    float:left;
    margin-right:10px;
    }
#RightPanel
{
    width:10%;
    height:100%;
    background-color:#FFFFFF;
    border:1px solid #FFFFFF;
    float:left;
    }
#WebsiteBody #WebsiteFooter
{
    background-color:#F4F4F4;
    width:100%;
    float:left;
    border-top:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9;
    }

#WebsiteHeader #logo
{
    color:#42B548;
    font-size:30px;
    position:absolute;
    top:0.27em;
    left:6em;
    }
#WebsiteHeader #logo a
{
    text-decoration:none;
    color:#42B548;
    }
#WebsiteHeader #logo a:visited
{
    text-decoration:none;
    color:#42B548;
    }
#WebsiteHeader #navbar
{
    width:43em;
    background-color:#F4F4F4;
    vertical-align:middle;
    line-height:4em;
    margin:0;
    padding:0;
    position:absolute;
    top:-1px;
    left:23em;
    bottom:0;
    }
#WebsiteHeader #navbar input[type=text]
{
    height:2em;
    width:29em;
    margin:0;
    padding:0;
    border-bottom-left-radius:3px;
    border-top-left-radius:3px;
    border-top:1px solid #D9D9D9;
    border-left:1px solid #D9D9D9;
    border-right:0;
    border-bottom:1px solid #D9D9D9;
    padding-left:1em;
    }
#WebsiteHeader #navbar input[type=button]
{
    font-weight:bold;
    color:#606060;
    display: inline-block;
    appearance: none;
    box-shadow: none;
    height:2.2em;
    width:4em;
    margin:-0.3em;
    padding:0;
    border-bottom-right-radius:3px;
    border-top-right-radius:3px;
    border-top:1px solid #D9D9D9;
    border-left:0;
    border-right:1px solid #D9D9D9;
    border-bottom:1px solid #D9D9D9;
    background-color:#E0E0E0;
    
    }
#WebsiteHeader #navbar input[type=button]:active
{
    background-color:#D9D9D9;
    }
#WebsiteHeader #navbar select
{
    height:2.2em;
    width:9em;
    margin-left:-0.3em;
    border-top:1px solid #D9D9D9;
    border-left:1px solid #D9D9D9;
    border-right:0;
    border-bottom:1px solid #D9D9D9;
    background-color:#FFFFFF;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    }
#WebsiteHeader #headerLink
 {
     position:absolute;
     left:67em;
     bottom:0;
     top:-1px;
     margin-left:1em;
     }
#WebsiteHeader #headerLink div
 {
     background-color:#F4F4F4;
     border-Left:1px solid #D9D9D9;
     height:100%;
     width:7em;
     float:left;
     text-align:center;
     vertical-align:middle;
     line-height:4em;
     }
#WebsiteHeader #headerLink div a
{
    text-decoration:none;
    font-weight:bold;
    color:#606060;
    } 
#WebsiteHeader #headerLink div:hover
 {
     background-color:#FFFFFF;
     }
     
#MainPanel #Banner
{
    background-color:#FFFFFF;
    margin:0px;
    padding:0px;
    }

#MainPanel .HotList
{
    width:100%;
    padding:0px;
    margin:0px;
    }
 
.ContentTitle
 {
     width:100%;
     text-align:center;
     background-color:#F4F4F4;
     line-height:37px;
     font-weight:bolder;
     font-size:x-large;
     padding:0px;
     margin:0px;
     }
     
.ContentItem
{
    width:100%;
    }

.item
{
    display:inline-block;
    width:18.77%;
    background-color:#FFFFFF;
    /*line-height:37px;*/
    font-weight:bolder;
    font-size:x-large;
    padding: 1px 0px 1px 1px;
    margin:10px 5px 10px 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    /*border:1px solid #D9D9D9;*/
    font-size:small;
    color:Black;
    }
.item .itemName
{
    font-size:small;
    font-weight:bold;
    margin:0px;
    padding:0px;
    height:25px;
    }
.item a
{
    text-decoration:none;
    color:#000000;
    }
 
.menu a
{
    text-decoration:none !important;
    } 

.footerItem
{
    background-color:#F4F4F4;
    margin:0;
    padding:0;
    width:200px;
    }
.footerItem h3
 {
     margin-left : 25px;
     margin-bottom : -10px;
     }
     
.txtNumber
{
    text-align:right;
}

table.grdView
{
    width:100%;
    padding:0px;
    margin:0px;
    border:1px solid #D9D9D9;
    }
 
table.grdView thead
{
    text-align:center;
    font-weight:bold;
    background-color: #D9D9D9;
    }
    
table.grdView tbody tr:nth-child(even)
{
    background-color:#F4F4F4;
    }

.selected {
    background-color:#f6a828 !important;
    }
 .SelectMode tr td
 {
     cursor:pointer;
     }
.category
{
    background-color:#FFFFFF; 
    width:325px; 
    height:35px; 
    vertical-align:middle; 
    line-height:35px; 
    padding-left:10px; 
    margin:3px 1.5px 1.5px 3px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box;
     border:1px solid #D9D9D9;
    }
    
.ItemDesc
{
    /*height:200px;    */
}