@model List<Todoku.Models.Product>
           
@{
    ViewBag.Title = "Todoku";
}

<script type="text/javascript">
//    $(function () {
//        var arr = new Array();
//        arr.push("~/Uploads/Todoku/Produk/Default/img_not_found.jpg");
//        arr.push("~/Uploads/Todoku/Produk/Default/img_not_found.jpg");
//        console.log(arr);
//        $(arr).preload();
//    });
//    $.fn.preload = function () {
//        console.log(this);
//        //        this.each(function () {
//        //            $('<img/>')[0].src = this;
//        //            console.log(this);
//        //        });
//    }

    // Usage:
</script>

<div id="Banner">
    @*<img style="min-height:300px; min-width:1079.2px;" src="Content/Image/Banner/Banner-img.jpg" />*@
    <img style="height:275px; width:100%" src='@Url.Content("~/Uploads/todoku/Banner/Banner-img.jpg")' />
</div>

<div class="ProductList">
    <div class="ContentTitle">Product List</div>
    <div>
        <ul>
            @foreach (var item in (List<Todoku.Models.StandardCode>)ViewBag.Categories) 
            { 
                <li style="display:inline-block;">
                    <div class="category">
                        @Html.ActionLink(@item.StandardCodeName, "Index", "Stores", new { category = item.StandardCodeID }, new { area = "Stores" })
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="HotList">
    <div class="ContentTitle">Hot List</div>
    @foreach (var obj in Model) 
    { 
        @Html.DisplayFor(modelItem => obj);
    }
</div>
