@model Todoku.Models.Merchant
@{
    ViewBag.Title = "Detail";
}
<script type="text/javascript">
    $(function () {
        $("#parent-tabs").tabs();
    });
</script>
<h2>@Model.MerchantName - Detail</h2>

<div id="parent-tabs">
    <ul>
        <li><a href="#parent-tabs-1">Profil</a></li>
        <li><a href="#parent-tabs-2">Produk</a></li>
        <li><a href="#parent-tabs-3">Order</a></li>
        <li><a href="#parent-tabs-4">Pengiriman</a></li>
    </ul>
    <div id="parent-tabs-1">
        @{Html.RenderAction("Index", "Profil", new { MerchantID = Model.MerchantID, area = "Merchants" });}
    </div>
    <div id="parent-tabs-2">
        @{Html.RenderAction("Index", "Product", new { MerchantID = Model.MerchantID, area = "Merchants" });}
    </div>
    <div id="parent-tabs-3">
        @{Html.RenderAction("Index", "CustomerOrder", new { MerchantID = Model.MerchantID, area = "Merchants" });}
    </div>
    <div id="parent-tabs-4">
        @{Html.RenderAction("Index", "Shipping", new { MerchantID = Model.MerchantID, area = "Merchants" });}
    </div>
</div>